/*@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");*/

@tailwind base;
@tailwind components;
@tailwind utilities;
/* style.css */

#extensionButton {
    position: relative;
    top: 806px;
    cursor:pointer;
    left: 133px;
}
#showResponse {
    background: aliceblue;
    border-radius: 7px;
    padding: 9px;
    font-size: 13px;
    margin-bottom: 11px;
}
